NODE_ENV=production/development
PORT=1234
ALLOWED_ORIGINS=https://sub.domain.com,https://other.domain.com
OAUTH_AUDIENCE=http://100.100.100.100/
OAUTH_ISSUER=https://myauthissuer.com/

Trailing slashes matter, use and omit them as this file shows. Delete this line.