NODE_ENV=production/development
PORT=1234
ALLOWED_ORIGINS=https://sub.domain.com,https://other.domain.com
OAUTH_AUDIENCES=https://sub.domain.com,https://sub.domain.com/
OAUTH_ISSUER=https://myauthissuer.com

OAuth audience as uri then with a trailing slash due to anthropic bug in claude code.
Keep and omit trailing slashes as shown here. Delete these lines.
